/* styles/global.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black; /* Sets the background to black */
  color: white; /* Changes the default text color to white for better readability on a black background */
}

a, p {
  color: #0070f3; /* Sets the color of text in paragraphs and links to light blue */
  text-decoration: none; /* Removes the underline from links by default */
}

a:hover, p:hover {
  text-decoration: underline; /* Adds an underline to links and paragraphs on hover for a visual indicator */
}

.link-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.link-box {
  padding: 10px 20px;
  border: 2px solid #0070f3; /* Sets the border color of the link boxes to light blue */
  border-radius: 5px;
  transition: all 0.3s ease;
  color: white; /* Ensures text within the link boxes is white for readability */
}

.link-box:hover {
  background-color: #0070f3; /* Changes the background of the link boxes to light blue on hover */
  color: black; /* Changes the text color within the link boxes to black for contrast */
  cursor: pointer;
}
